@import "tailwindcss";

:root {
  --color-primary: var(--bw-black);
  --color-secondary: var(--bw-gray-700);
  --color-accent: var(--bw-gray-500);

  --bg-main: var(--bw-gray-100);
  --bg-card: var(--bw-white);
  --bg-light: var(--bw-gray-200);

  --text-main: var(--bw-black);
  --text-muted: var(--bw-gray-700);

  --border-color: var(--bw-gray-300);

  --font-main: Times, "Inter", sans-serif;
}

div {
  margin: 2%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
  font-weight: 500;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: var(--bw-white);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.button {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: var(--bw-gray-700);
}

.text-muted {
  color: var(--bw-gray-500);
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
